In [1]:
import pandas as pd

In [2]:
file = '/Users/sherinsmac/MyPersonalSpending/labelled_data/CheqLabelled.csv'
pd.set_option("display.max_rows", 800)
df = pd.read_csv(file)

In [20]:
df = df.drop(columns=['Unnamed: 0'])

In [22]:
df.columns

Index(['Date', 'Transaction', 'Debit', 'Credit', 'account', 'vendors'], dtype='object')

In [20]:
pd.set_option("display.max_colwidth", 79)
v = df[df['vendors'] == "ALMOST"]
v

,Date,Transaction,Debit,Credit,account,vendors
53,2024-06-12,Point of Sale - Interac RETAIL PURCHASE 000001446030 ALMOST PERFECT,5.28,0.0,chequing,ALMOST