In [13]:
import pandas as pd

In [19]:
file = '/Users/sherinsmac/MyPersonalSpending/labelled_data/CheqLabelled.csv'
pd.set_option("display.max_rows", 800)
df = pd.read_csv(file)

In [20]:
df = df.drop(columns=['Unnamed: 0'])

In [22]:
df.columns

Index(['Date', 'Transaction', 'Debit', 'Credit', 'account', 'vendors'], dtype='object')

In [53]:
pd.set_option("display.max_colwidth", 79)
v = df[df['vendors'] == 'NORTHERN']
v

,Date,Transaction,Debit,Credit,account,vendors
128,2024-05-21,Point of Sale - Interac RETAIL PURCHASE 001001001629 NORTHERN HELM C,20.34,0.0,chequing,NORTHERN